<settings>
    <setting id="Password" value="barry0028" />
    <setting id="Username" value="baz" />
    <setting id="extend" value="m3u8" />
    <setting id="note" value="Once details enter click clear cache after ok " />
    <setting id="vanemakood" value="1234" />
    <setting id="vanemalukk" value="false" />
</settings>
